:root {
  --button-position: 0 0 5px 160px;
}

.add_edit_form {
  margin: 0 120px 5px 70px;
}

.create_button {
  margin: var(--button-position);
}

.update_button {
  margin: var(--button-position);
}

.input_title {
  font-family: 'Times New Roman', sans-serif;
  font-size: 16px;
  width: 380px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.text {
  font-family: 'Times New Roman', sans-serif;
  font-size: 16px;
  width: 380px;
  height: 200px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
